*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type="text"]{
    width: 15em;
    height: 2.5em;
    outline: none;
    border: none;
    border-radius: 0.6em;
   
}

.container-fluid{
 background-image: url('./Icons/cuaderno-plano-lista-tareas-pendientes-escritorio.jpg');
 background-size: cover;
 background-repeat:no-repeat;
}

button:hover{
    border:none;
    box-shadow: none;
    border-radius: 1em;
}

.tareas{
    overflow-y: auto;
    width: 60%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.304);
    backdrop-filter: blur(5px);
    max-width: 50em;
}

span{
    width: 3em;
    height: 2.5em;
    outline: none;
    border: none;
    border-radius: 0.6em;
    background-color: black;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    width: 80%;
    height: 2em;
    line-height: 2em;
    background-color:white;
    border-radius: 1em;
    transition: 0.5s;
}

img{
    
    width: 1.5em;
}
img:hover{
    transform: scale(1.1);
    cursor:no-drop;
}

/* ANIMACION DEL INPUT SI NO SE ESCRIBE NADA */
 @-webkit-keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

 
          
            
  
